.company__title {
  color: $main-title-color;
  margin-bottom: 50px;

  text-align: center;
  @include font(700, 36px, 1.17);
}

.company__list {
  @include flex;
}

.company__item {
  & + .company__item {
    margin-left: 30px;
  }
}

.company__link {
  @include flex;
  width: 170px;
  height: 92px;
  color: $third-btn-color;

  border: 1px solid currentColor;
  border-radius: 4px;

  cursor: pointer;
}

.company__icon {
  fill: currentColor;
}

.company__link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
