.project__list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.project__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  color: $main-bgc-color;
}

.project__link {
  @include transition(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__wrap {
  position: relative;
  overflow: hidden;
}

.description__text {
  position: absolute;

  background-color: rgba(33, 150, 243, 0.9);
  color: $second-title-color;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  @include font(400, 18px, 1.55);
  @include transition(transform);
}

.description__text {
  .project__wrap:hover & {
    transform: translateY(-100%);
  }
}

.project__name {
  padding: 20px 24px;
  background-color: $main-bgc-color;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project__title {
  margin-bottom: 4px;

  color: $main-title-color;
  @include font(700, 18px, 2, 0.06em);
}

.project__text {
  color: $main-text-color;
  font-size: 16px;
  line-height: 1.87;
  @include font(400, 16px, 1.87);
}
