a {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  background-color: $main-bgc-color;
  color: $main-text-color;
  font-family: 'Roboto', sans-serif;
}

.portfolio {
  background-color: $main-bgc-color;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
