%button {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  color: $second-btn-color;
  background-color: $second-btn-bgc-color;
  cursor: pointer;
}
